.split {
  height: 500px;
  width: 24%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

.farleft {
  left: 25%;
}

.farright {
  right: 25%;
}
